/* Habeenta guud */
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  height: 180px;
}

/* Habeenta container ka */
.container {
  width: 1110px;
  margin: 20px auto;
}

/* Habeenta grid ka */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

/* Habeenta flex ka */
.flex-container {
  grid-column: 1 / span 2;
}

/* Habeenta top bar ka main ka */
.top-bar {
  border-bottom: 2px solid #222222;
  margin-bottom: 20px;
  padding: 3px 0;
}

.top-bar span {
  background-color: #222222;
  line-height: 17px;
  font-size: 14px;
  font-weight: 400;
  color: white;
  padding: 5px 10px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* Habeenta blog yada main ka */
.blogs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blog {
  display: flex;
  gap: 20px;
}

.blog-info h2 {
  font-size: 22px;
  line-height: 29px;
  font-weight: 400;
}

.author-date {
  display: flex;
  gap: 10px;
  align-items: center;
}

.author {
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  color: black;
}

.date {
  font-size: 11px;
  line-height: 11px;
  font-weight: 400;
  color: #767676;
}

.h-line {
  width: 5px;
  height: 2px;
  background-color: #ccc;
}

.blog-info h2 {
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  cursor: pointer;
}

.blog-info h2:hover {
  color: rgb(77, 178, 236);
}

.blog-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.description {
  color: #767676;
  font-size: 13px;
  line-height: 21px;
  font-weight: 400;
}

/* Habeenta sidebar ka */
.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar .txt span {
  text-align: center;
  font-size: 0.625rem;
  color: rgb(118, 118, 118);
  line-height: 1.5;
}

.thumbnile-1 img {
  height: 100%;
}

.top-bar.side span {
  background-color: #8954c1;
}

.top-bar.side {
  border-bottom: 2px solid #8954c1;
  margin-top: 35px;
}

.blog.blog.side-bar .author-date {
  margin-bottom: 20px;
}

.author-date-count {
  display: flex;
  justify-content: space-between;
}

.number-box {
  display: inline-block;
  position: relative;
  text-align: center;
}

.number {
  font-size: 10px;
  line-height: 11px;
  font-weight: 600;
  background-color: black;
  padding: 5px;
  color: #fff;
  text-align: center;
  width: 20px;
  height: 20px;
}

.side-bar .thumbnile {
  position: relative;
  width: 100%;
  height: auto;
}

.side-bar .thumbnile img {
  max-width: 100%;
  height: auto;
  display: block;
}

.side-bar .recipes {
  position: absolute;
  background-color: #222222;
  color: white;
  padding: 2px;
  bottom: 1px;
  left: 0;
  cursor: pointer;
  font-size: 10px;
  line-height: 10px;
  font-weight: normal;
}

.side-bar .recipes:hover {
  background-color: #8954c1;
}

.blog-info .h2-sidebar:hover {
  color: #8954c1;
}
