API_KEY=your-gemini-api-key
BASE_URL=https://generativelanguage.googleapis.com/v1beta/openai/
TEXT_MODEL=gemini-flash-latest
TEXT_MODEL_INPUT_RATE=1.5
TEXT_MODEL_OUTPUT_RATE=7.5

TTS_MODEL=gemini-2.5-flash-preview-tts
TTS_MODEL_INPUT_RATE=0.5
TTS_MODEL_OUTPUT_RATE=10
